@import '../../../css/colors.css';

.container { 
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
  height: fit-content;
  background-color: #eee;
  padding: 2rem 2rem 2rem 2rem;
}

.filterContainer {
  display: flex;
  flex-direction: row;
  height: fit-content;
  flex-wrap: wrap;
}

.datePickerDiv {
  margin: 0 15px 10px 0;
}

.customCalendar {
  height: 30px;
  width: 175px;
  border: 1px solid var(--primary);
  border-radius: 5px;
  padding-left: 10px;
}

.selectDiv {
  min-width: 175px;
  width: 150px;
  min-height: 30px;
  margin: 0 15px 10px 0;
}

.filterButtonsDiv {
  display: flex;
  margin: 0 10px 10px 0;
}

.filterButtons {
  display: flex;
  background-color: var(--primary);
  color: #fff;
  border: 1px solid blue;
  border-radius: 5px;
  height: 30px;
  width: 75px;
  cursor: pointer;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.filterButtons:hover {
  background-color: var(--primaryHover);
}

.clinicCardContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.clinicCard {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 300px;
  background-color: #fff;
  border: 1px solid rgb(155, 155, 155, 0.5);
  border-radius: 5px;
  margin: 0 15px 10px 0;
}

.clinicInfoDiv {
  display: flex;
  flex-direction: column;
  margin: 1rem 0.5rem 0 0.5rem;
}

.infoDiv {
  display: flex;
  flex-direction: row;
  margin: 0 0 15px 10px;
}

.clinicInfoLabel {
  width: 150px;
  font-size: 14px;
  font-weight: 300;
  user-select: none;
}

.info {
  font-size: 14px;
  font-weight: 400;
  user-select: none;
}

.clinicCardOptionsDiv {
  display: flex;
  flex-direction: row;
  height: fit-content;
  margin: 0.5rem 0.5rem 1rem 0.5rem;
}

.moreInfoButtonDiv {
  display: flex;
  margin: 0 0 0 8px;
}

.moreInfoButton {
  display: flex;
  width: 75px;
  height: 30px;
  color: #fff;
  background-color: var(--primary);
  border: 1px solid blue;
  border-radius: 5px;
  font-size: 13.5px;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}

.moreInfoButton:hover {
  background-color: var(--primaryHover);
}