@import '../../../css/colors.css';

.container { 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  height: 100vh;
  background-color: #eee;
}

.filterContainer {
  display: flex;
  flex-direction: row;
  height: fit-content;
  padding: 2rem 3rem 2rem 3rem;
  flex-wrap: wrap;
}

.datePickerDiv {
  margin: 0 15px 10px 0;
}

.customCalendar {
  height: 30px;
  width: 175px;
  border: 1px solid var(--primary);
  border-radius: 5px;
  padding-left: 10px;
}

.selectDiv {
  min-width: 175px;
  width: 150px;
  min-height: 30px;
  margin: 0 15px 10px 0;
}

.filterButtonsDiv {
  display: flex;
  margin: 0 10px 0 0;
}

.filterButtons {
  display: flex;
  background-color: var(--primary);
  color: #fff;
  border: 1px solid blue;
  border-radius: 5px;
  height: 30px;
  width: 75px;
  cursor: pointer;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.filterButtons:hover {
  background-color: var(--primaryHover);
}